<ion-view title="Add Training">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Date Completed</span>
                        <input type="date" placeholder="">
                    </label>
                    <ion-checkbox>Gym Session</ion-checkbox>
                    <ion-checkbox>Field Session</ion-checkbox>
                    <label class="item item-select">
                        <span class="input-label">Team</span>
                        <select>
                            <option>Primary Team</option>
                            <option>Secondary Team</option>
                        </select>
                    </label>
                </form>
                <button class="button button-positive button-block ">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>