<ion-view title="Personal Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Personal Attribute</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Height (cm)</span>
                        <input type="number" placeholder="e.g 183">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Weight (Kg)</span>
                        <input type="text" placeholder="e.g 70kg">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">D.O.B</span>
                        <input type="date" placeholder="">
                    </label>
                    <label class="item item-select">
                        <span class="input-label">Home Province</span>
                        <select>
                            <option>Leinster</option>
                            <option>Munster</option>
                            <option>Ulster</option>
                            <option>Connacht</option>
                        </select>
                    </label>
                    <label class="item item-select">
                        <span class="input-label">Preferred Position</span>
                        <select>
                            <option>Prop</option>
                            <option>Hooker</option>
                            <option>Second Row</option>
                            <option>Flanker</option>
                            <option>Number 8</option>
                            <option>Scrum Half</option>
                            <option>Fly-Half</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <button class="button button-positive button-block  icon-right ">Submit</button>
    </ion-content>
</ion-view>