<ion-view title="Player Progress">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="playerBio">
                <img src="img/v7loIscXRnmabJRQMCfV_rugbyBall.jpg">
                <h2>Player Overview</h2>
                <p>Click for summary</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="seasonStatistics">
                <img src="img/qEUq0Pd9STyb4M3EjKJ7_HomeAway.jpg">
                <h2>Season Statistics</h2>
                <p>Click for summary</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="injuryTraining">
                <img src="img/abHSLWNSwmaFRKiRAN4c_TrainingRugby.jpg">
                <h2>Injury &amp; Training</h2>
                <p>Click for summary</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>