<ion-view title="Season Statistics">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Current Season</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Games played</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Minutes played</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Man of the match(es)</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Tries scored</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Points scored</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <a ui-sref="menu.playerProgress" class="button button-positive button-block  icon-left ion-android-arrow-back">Return to Player Progress</a>
    </ion-content>
</ion-view>